.flip-card {
    background-color: transparent;
    width: 300px;
    height: 400px;
    border: 1px solid #f1f1f1;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
    border-radius: 2rem;
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {

    position: absolute;
    border-radius: 2rem;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background: linear-gradient(to right, #790e8b, #ff94c2);
    color: whitesmoke;
  }
  
  /* Style the back side */
  .flip-card-back {
    background: linear-gradient(to right, #0069c0 , #0077c2);
    color: white;
    transform: rotateY(180deg);
  }

  img {
      padding: 1rem 0;
      border-radius: 50%;
  }

  .flip-card-front img {
    height: 243px;
    width: 239px;
    padding: 1rem 0;
      border-radius: 50%;
  }

  .flip-card-back h2 {
    font-size: 1.8rem;
    font-family: 'Dancing Script', cursive;
  }

  .flip-card-front h1 {
    font-size: 2.5rem;
    color: black;
    font-family: 'Dancing Script', cursive;
  }

  .flip-card-back p {
    overflow-y: auto;
    text-align: justify;
    height: 225px;
    border-radius: 2rem;
    padding: 0rem 1rem 2rem 1rem;
  }

  .flip-card-back button {
    padding: 0.75rem 1.5rem;
    border-radius: 1rem;
    font-size: 1rem;
    border: none;
    outline: none;
    color:black;
    background: linear-gradient(to right, #ff94c2 ,  #FFED61);
    background-color: #FFED61;
  }

  .socialLinks {
    position: absolute;
    bottom: 5px;
    padding-left: 30%;
    display: flex;
    justify-content: center;
  }


/* width */
::-webkit-scrollbar {
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #0077c2; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background:#0077c2; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
